In [1]:
n=[1,2,3,4,5,5,5,5,5]
print(n.count(5))

5

In [2]:
n=[1,2,3,4,5,5]
n.insert(2,88888)
print(n)

[1, 2, 88888, 3, 4, 5, 5]

n1=[1,2,"hello"]
n2=[3,4,"frnd"]
n1.extend(n2)
print(n1)

### folder

In [5]:
n=[1,2,3]
p=n.pop()
print(p)

3

In [7]:
n=[1,2,3]
n.reverse()
print(n)

[3, 2, 1]

In [11]:
n1=["savy","anisha","anusha","rishika"]
n1.sort(reverse=True)
print(n1)

['savy', 'rishika', 'anusha', 'anisha']

In [14]:
x=[10,20,30,40]
y=x.copy()
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [15]:
a=[1,2,3]
b=[4,6,7]
c=a+b
print(c)

[1, 2, 3, 4, 6, 7]

In [16]:
x=[1,2,3]
y=x*3
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
x=["MITE","mangalore","NITTE"]
y=["MITE","mangalore","NITTE"]
x==y
z=["MTE","mangalore","NITTE"]
x==z

False

In [23]:
m1=[10,20,30,40,[50,60,70]]
print(10 in m1)

True

In [24]:
s=[2**x for x in range(1,6)]
print(s)

[2, 4, 8, 16, 32]

In [25]:
words=["mite","mysore","teju"]
l=[w[0] for w in words]
print(l)

['m', 'm', 't']

In [29]:
def isprime(n)
for i in range(2,n):
    if i%2==0:
        print("not a prime no.")
    else:
        print("its prime no.")
n=int(input("enter a no")
isprime(n)

SyntaxError: invalid syntax (<ipython-input-29-bf380d5a21aa>, line 1)

In [33]:
seq=[1,2,3,4,5]
lambda var:var*2
list(map(lambda var:var*2,seq))

[2, 4, 6, 8, 10]

In [32]:
list(filter(lambda item:item%2==0,seq))

[2, 4]

In [ ]:
import numpy as np
my_list=[1,2,3]
my_list
np.array(my_list)

In [ ]:
import numpy as np
df=pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df