In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
my_array=[10,20,30]
pd.Series(data=my_array)

0    10
1    20
2    30
dtype: int64

In [3]:

pd.Series(data=my_array,index=labels)

a    10
b    20
c    30
dtype: int64

In [4]:
pd.Series(my_array,labels)

a    10
b    20
c    30
dtype: int64

In [5]:
d={'a':10,'b':20,'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [7]:
d={'a':10,'b':20,'c':30}
pd.Series([sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [21]:
data=[1,2,3,4]
ind=['USA','RUSSIA','UK','ENGLAND']
s1=pd.Series(data,ind)
print(s1)

USA        1
RUSSIA     2
UK         3
ENGLAND    4
dtype: int64

In [27]:
s1['USA']

1

In [30]:
d1={'a':10,'b':20}
t1=pd.Series(d1)

In [33]:
d2={'a':100,'d':200}
t2=pd.Series(d2)

In [35]:
t1+t2

a    110.0
b      NaN
d      NaN
dtype: float64

In [42]:
import numpy as np
from numpy.random import randn
np.random.seed(101)

In [43]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [44]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [45]:
type(df['W'])

pandas.core.series.Series

In [46]:
df['new']=df['W']+df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [49]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [73]:
df.drop('new',axis=1,inplace=True)
df

KeyError: "['new'] not found in axis"

In [52]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [53]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [54]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [55]:
df.loc['B','Y']

-0.8480769834036315

In [57]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [58]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [59]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [60]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [61]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [63]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [64]:
df[(df['W']>0)&(df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [65]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [67]:
newind='DA VY TR ER FG'.split()

In [68]:
df['States']=newind

In [69]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     DA
B  0.651118 -0.319318 -0.848077  0.605965     VY
C -2.018168  0.740122  0.528813 -0.589001     TR
D  0.188695 -0.758872 -0.933237  0.955057     ER
E  0.190794  1.978757  2.605967  0.683509     FG

In [70]:
df.set_index('States')

               W         X         Y         Z
States
DA      2.706850  0.628133  0.907969  0.503826
VY      0.651118 -0.319318 -0.848077  0.605965
TR     -2.018168  0.740122  0.528813 -0.589001
ER      0.188695 -0.758872 -0.933237  0.955057
FG      0.190794  1.978757  2.605967  0.683509

In [71]:
df.set_index('States',inplace=True)

In [72]:
df

               W         X         Y         Z
States
DA      2.706850  0.628133  0.907969  0.503826
VY      0.651118 -0.319318 -0.848077  0.605965
TR     -2.018168  0.740122  0.528813 -0.589001
ER      0.188695 -0.758872 -0.933237  0.955057
FG      0.190794  1.978757  2.605967  0.683509

In [74]:
outside=['g1','g1','g1','g2','g2','g2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [75]:
hier_index

MultiIndex(levels=[['g1', 'g2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [76]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
g1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
g2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [77]:
df.loc["g1"]

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [78]:
df.loc["g1"].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [79]:
df.index.names

FrozenList([None, None])

In [82]:
df.index.names=['Group','Num']

In [83]:
df

                  A         B
Group Num
g1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
g2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [84]:
df.xs('g1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [85]:
df.xs(['g1',1])

A    0.302665
B    1.693723
Name: (g1, 1), dtype: float64

In [86]:
df.xs(1,level="Num")

              A         B
Group
g1     0.302665  1.693723
g2     0.166905  0.184502

In [87]:
for i in range(1,5):
    for j in range(1,6):
        print(end=" ")
        j=j-1
    for k in range(1,8):
         if k%2!=0:
                print("*",end=" ")

     * * * *      * * * *      * * * *      * * * *